<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://i.ytimg.com/vi/9dwYVqHz538/maxresdefault.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>DiscoApp!</ion-card-subtitle>
        <ion-card-title>Bem vindo ao DISCOAPP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Encontre aqui seus álbuns favoritos.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
